name: Daily Sync
on:
  #schedule:
  #  - cron: "30 10 * * *" # Run at 10:30 or 11:30 depending on daylight savings
  workflow_dispatch: # Allow manual triggering

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        name: Checkout
        with:
          ref: ${{ github.head_ref }}

      - uses: pnpm/action-setup@v4
        name: "Install pnpm"
        with:
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Run sync
        env:
          WALLET_ACCOUNT_NUMBER: ${{ secrets.WALLET_ACCOUNT_NUMBER }}
          WALLET_ACCOUNT_NAME: ${{ secrets.WALLET_ACCOUNT_NAME }}
          WALLET_AKAHU_ID: ${{ secrets.WALLET_AKAHU_ID }}
          BANK_AKAHU_ID: ${{ secrets.BANK_AKAHU_ID }}
          AKAHU_APP_TOKEN: ${{ secrets.AKAHU_APP_TOKEN }}
          AKAHU_USER_TOKEN: ${{ secrets.AKAHU_USER_TOKEN }}
        run: pnpm run sync
